#canteiro {
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
  background-color: #3d4232;
  grid-template-columns: repeat(12, 50px);
  grid-template-rows: repeat(12, 50px); 
  gap: 2px;
}

.celula {
  width: 50px;
  height: 50px;
  border: 1px solid #3d4232;
  background-image: url('imagens/solo.png');
  background-size: cover; /* Garante que a imagem cubra a célula */
  background-repeat: no-repeat;
  background-position: center;
}

.pedra{
  background-image:  url('imagens/pedra.png'), url(imagens/solo.png);
}

.erva{
    background-image:  url('imagens/erva-daninha.png.png'), url(imagens/solo.png);

}